footer {
    /* background-color: rgb(66, 61, 75); */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    /* Adds a gradient */
    background: linear-gradient(to right, #23262C,#424751);
}