main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main h1 {
    display: flex;
    justify-content: center;
}

/* Todo: change to detailsDiv in react */
main div { 
    padding-bottom: 20px;
}

main ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

main li {
    /* display: flex;
    justify-content: center;
    height: fit-content;
    vertical-align: middle;
    gap: 16px;
    align-items: center; */
    display: flex;
    justify-content: center;
    gap: 16px; /* Space between image and text */
    padding: 10px;

}

li div {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}

li img {
    width: 50px;
    height: 50px;
}